@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

#conversationPanel
    background-color: #fff
    width: 100%
    height: 100vh
    overflow: scroll

.add-message

.add-message-form input[type=text]
    width: 100%
    display: block
    background-color: yellow
    height: 3em 
    font-size: 1em

.search-bar
    width: 100%
    display: block
    height: 2.5em 
    font-size: 1em
    border: none
    border-bottom: 2px solid green
    padding: 0 1em

.conversationSidebar
    background-color: #fff
    height: 100vh
    overflow: scroll
    .list-group-item
        border-radius: 0
    .list-group-item:hover
        background-color:#efefef
        cursor: pointer
    .list-group-item.active
        background-color: black
        border: transparent

.bubble
    background-color: red
    &.alt
        background-color: blue