@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

#conversationPanel
    background-color: #fff
    width: 100%
    height: 100vh
    overflow: scroll

.add-message

.add-message-form input[type=text]
    width: 100%
    display: block
    background-color: yellow
    height: 3em 
    font-size: 1em

.conversationSidebar
    background-color: #fff
    height: 100vh
    overflow: scroll