<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>502078435548-pa31ui51nq51bqqg8ghoagdni8lm094d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502078435548-pa31ui51nq51bqqg8ghoagdni8lm094d</string>
	<key>API_KEY</key>
	<string>AIzaSyC6wMLyNY_hdN7WFF9klxC2_1N2YGpY_VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>502078435548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kcl.whisperFull</string>
	<key>PROJECT_ID</key>
	<string>whisperfull</string>
	<key>STORAGE_BUCKET</key>
	<string>whisperfull.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:502078435548:ios:aa809a4e84218cc9</string>
	<key>DATABASE_URL</key>
	<string>https://whisperfull.firebaseio.com</string>
</dict>
</plist>