// Import all partials
@require './_*.styl'

#main
  background-color: #dddddd

.app-wrapper
  border: 1px solid

// Contact Sidebar Styles
.contact-sidebar
  background: lightGray



.contact-item
  border: 1px solid black

