// Import all partials
@require './_*.styl'

#main
  background-color: #dddddd

.app-wrapper
  border: 1px solid

// Contact Sidebar Styles
.contact-sidebar
  background: lightGray


.contact-item
  border: 1px solid black

.left-side
  border: 1px solid red
  padding: 20px

.right-side
  padding: 0px 10px
  border: 1px solid blue

.action-bar
  background: white

